body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

#nav{
  background-color: #2da5da;
  border:none;
  box-shadow: 0 0 20px rgba(0,0,0,.3);
  a{
    color:white;
  }

  li{
    border-right: solid 1px rgba(0,0,0,.1);
  }

  .navbar-brand{
    border-right: solid 1px rgba(0,0,0,.1);
    border-left: solid 1px rgba(0,0,0,.1);
  }

  a:hover {
    background: rgba(255,255,255,0.9);
    color: #666;
  }
}

footer{
  text-align: center;
}

#logco{
  margin-top:50px;
  text-align: center;
}

.hero-spacer {
  margin-top: 50px;
}

.hero-feature {
  margin-bottom: 30px;
}

@import "_form.scss";
footer {
  margin: 50px 0 0 0;
}

.thumbnail img {
    max-height: 190px;
}


.form-signin {
  max-width: 330px;
  padding: 18px;
  margin: 0 auto;
  border: 1px solid lightgray;
  -moz-box-shadow: 1px 1px 10px 0px #656565;
  -webkit-box-shadow: 1px 1px 10px 0px #656565;
  -o-box-shadow: 1px 1px 10px 0px #656565;
  box-shadow: 1px 1px 10px 0px #656565;

  p span{
    margin-right: 4%;
  }

}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"], .form-signin input[type="text"]{
  margin-bottom: 14px;
  margin-top:14px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 18px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.admin-button{
  margin-bottom: 14px;
}

#bienvenue{
  text-align: center;
}



.admin-detail-button{
  margin-bottom: 14px;
  width: 50%;
  margin-right:auto;
  margin-left:auto;
}

#title{
  margin-bottom:40px;
  text-align: center;
}
