
<!DOCTYPE html>
<html lang="fr">

{% include 'head.twig' %}

<body>

{% include 'navigation.twig' %}

<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron hero-spacer">
    <h1>CoolRacing</h1>
    <p>Envie de créer un événement sportif facilement ? N'hésitez plus, notre site est fait pour vous ! Vous êtes sportifs en manque de sensation ? Ce site est aussi fait pour vous !</p>

  </header>

  <hr>

  <!-- Title -->
  <div class="row">
    <div class="col-lg-12">
      <h3>Les derniers événements</h3>
    </div>
  </div>
  <!-- /.row -->

  <!-- Page Features -->
  <div class="row text-center">
    {% for ev in ev %}
    <div class="col-md-4 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="{{ev.photo}}" alt="">
        <div class="caption">
          <h3>{{ev.intitule}}</h3>
          <p>{{ev.categorie.titre}}</p>
          <p>{{ev.ville.code_postal}} {{ ev.ville.ville}}</p>

          <p>
            <a href="/coolracing/client/event/{{ev.id_event}}" class="btn btn-primary">Plus d'info !</a>
          </p>
        </div>
      </div>
    </div>

    {% endfor %}





  </div>
  <!-- /.row -->

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; CoolRacing 2016</p>
      </div>
    </div>
  </footer>

</div>
<!-- /.container -->

 {% include "script.twig" %}


</body>

</html>
