<!DOCTYPE html>
<html>
{% include 'head.twig' %}
<body>
  {{include('navigation.twig')}}
  <div class="container hero-spacer">
    <div class="row">
      <div class="col-lg-12">
        <h1 id="title">Création d'évenement </h1>
        <br/>
        <p>Organisateur : {{session.prenom_organisateur}} {{session.nom_organisateur}}</p>
        <form  class="form-module" method="POST" enctype="multipart/form-data" >
          <input id="nom_event" required name="nom_event" type="text" placeholder="Nom de l'evenement" />
          <select required name="categorie">
            <option value="" disabled selected>Catégories</option>
            {% for cat in cat %}
            <option value="{{cat.id_categorie}}">{{cat.titre}}</option>
            {% endfor %}
          </select>
          <label>Date de début</label>
          <input type="date" required max="2017-06-25" min="2016-01-1" name="date_debut" placeholder="Date début évenement">
          <label>Date de fin</label>
          <input type="date" required max="2017-06-25" min="2016-01-1" name="date_fin"  placeholder="Date fin évenement">
          <input type="number" required name="place" placeholder="Nombre de place">
          <input id="adr_event" required name="adr_event" type="text" placeholder="Adresse de l'evenement" />
          <input id="dep_event" required name="dep_event" type="text" placeholder="Département de l'evenement" />
          <input id="cp_event" required name="cp_event" type="number" placeholder="Code Postal de l'evenement" />
          <input id="ville_event" required name="ville_event" type="text" placeholder="Ville de l'evenement" />

          <input type="number"  name="prix_event" placeholder="Cout de l'inscription (laisser vide si gratuit)">
          <p>Niveaux présent durant l'évenement : </p>
          {% for niv in niveau %}
          <div id="checkbox">
            {{niv.nom}}
            <input type="checkbox" id="" name="niv{{niv.id_niveau}}" value="">
          </div>
          {% endfor %}
          <textarea style="width:100%;" rows="6" name="desc_event" required placeholder="Description évenement"></textarea>
          <p>Photo de l'evenemnt</p>
          <input type="file" name="img" accept="image/x-png, image/gif, image/jpeg, image/*">
          <button type="submit" value="Submit">Créer</button>
        </form>
      </div>
    </div>


  </div>
  <!-- /.row -->

  <hr>

    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy; CoolRacing 2016</p>
        </div>
      </div>
    </footer>
  </div>
 {% include "script.twig" %}
</body>
</html>
