<!DOCTYPE html>
<html>
{% include 'head.twig' %}
<body>
  {{include('navigation.twig')}}
  <div class="container hero-spacer">
  <h3>L'évent a été supprimé avec succés !</h3>
  </div>
  {% include "script.twig" %}
</body>
</html>
