<!DOCTYPE html>
<html>
{% include 'head.twig' %}
<body>
  {{include('navigation.twig')}}
  <div class="container ">
    <div class="row">
      {% if desinscrit =="true" %}
      <p><strong>Vous avez été désinscrit de l'évent </strong></p>
      {% else %}
      <div id="2time">
        <h4 class="petit-titre-page">Pour vous désinscrire il suffit de rentrer vos identifiants </h4>
        {% if nocompte == "true" %}
        <p><strong>Aucun compte pour ces données n'a été trouvé</strong></p>
        {% endif %}
        {% if pasinscrit == "true" %}
        <p><strong>Vous n'êtes dejà pas inscrit à cet évent</strong></p>
        {% endif %}
        <div class="row centrer">
          <form method="POST">
            <input class="form-control" type="mail" name="mail" placeholder="mail">
            <input class="form-control" type="password" name="password" placeholder="password">
            <input class="form-control inscrip-btn" type="submit" value="Se désinscrire" name="form2">
          </form>
        </div>
        <div class="row centrer-selector">
          <a href="/coolracing/client/event/{{id_event}}">Retour à la fiche event !</a>
        </div>
      </div>
      {% endif %}
    </div>

    {% include "script.twig" %}
    <script src="/coolracing/client/js/jquery-barcode.min.js"></script>
    
  </body>
  </html>
