<!DOCTYPE html>
<html>
{% include 'head.twig' %}
<body>
  {{include('navigation.twig')}}
  <div class="container ">
    <div class="row">
      {% if inscrit =="true" %}
      <p>Votre dossard : </p>
    <div class="dossard">
      <canvas id="bcTarget"></canvas>
    </div>
    <div class="row centrer-selector">
      <a class="btn btn-lg doss-btn" id="download" download="barcode.png">Télécharger dossard</a>
    </div>
        <div class="row centrer-selector">
          <a class="btn btn-xs" href="/coolracing/client/event/{{id_event}}">Retour à la fiche event !</a>
        </div>
      {% else %}
      <div id="2time">
        <h4 class="petit-titre-page">Pour accéder à votre dossard il suffit de rentrer vos identifiants </h4>
        {% if nocompte == "true" %}
        <p><strong>Aucun compte pour ces données n'a été trouvé</strong></p>
        {% endif %}
        {% if pasinscrit == "true" %}
        <p><strong>Vous n'êtes pas inscrit à cet évent</strong></p>
        {% endif %}
        <div class="row centrer">
          <form method="POST">
            <input class="form-control" type="mail" name="mail" placeholder="mail">
            <input class="form-control" type="password" name="password" placeholder="password">
            <input class="form-control inscrip-btn" type="submit" value="S'inscrire" name="form2">
          </form>
        </div>
        <div class="row centrer-selector">
          <a href="/coolracing/client/event/{{id_event}}">Retour à la fiche event !</a>
        </div>
      </div>
      {% endif %}

    </div>

    {% include "script.twig" %}
    <script src="/coolracing/client/public/js/jquery-barcode.min.js"></script>
    <script>

    var a = "1234567890129";
    $("#bcTarget").barcode("{{dossard}}", "int25",{barWidth:8, barHeight:100,output:"canvas"});

    function download() {
      var dt = canvas.toDataURL();
      this.href = dt;
    }

    var canvas = document.getElementById('bcTarget');
    document.getElementById('download').addEventListener('click', download, false);
    </script>
  </body>
  </html>
