
<!DOCTYPE html>
<html lang="fr">

{% include 'head.twig' %}

<body>

{% include 'navigation.twig' %}

<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron hero-spacer">
    <h1>CoolRacing</h1>
    <p>La page que vous essayez d'accéder n'existe pas !</p>
    <a href="./">
      <button>Retour à l'accueil</button>
    </a>

  </header>

  <hr>


  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; CoolRacing 2016</p>
      </div>
    </div>
  </footer>

</div>
<!-- /.container -->

 {% include "script.twig" %}


</body>

</html>
