<!DOCTYPE html>
<html>
{% include 'head.twig' %}
<body>
  {{include('navigation.twig')}}
  <div class="container hero-spacer">
    <div class="row">

      <div class="col-xs-12 col-md-6 ">
        <h1>{{ev.intitule}}</h1>
        <h3>{{ev.categorie.titre}}</h3>
        <br>
        <p><strong>Organisateur : </strong>{{ev.organisateur.nom |capitalize}} {{ev.organisateur.prenom |capitalize}}</p>
        <p><strong>Contact : </strong>{{ev.organisateur.email}}</p>
        <p><strong>Date début : </strong>{{ev.date_debut}}</p>
        <p><strong>Date fin : </strong>{{ev.date_fin}}</p>
        <p><strong>Nombre de place   : </strong>{{ev.nb_place}}</p>
        <p><strong>Prix : </strong>{% if ev.prix == 0 %}Gratuit ! {% else %} {{ev.prix}} € {% endif %}</p>
        <p><strong>Adresse : </strong>{{ev.adresse}} {{ev.ville.code_postal}} {{ev.ville.ville}}</p>
        <p><strong>Description   : </strong>{{ev.description}}</p>
      </div>
      <div class="col-xs-12 col-md-6">
        <figure class="text-center">
          <img src="{{ev.photo}}"  class="img-thumbnail" />
        </figure>
      </div>

      <hr />

      <div class="row">
        <div class="col-centered col-md-6">
          {% if admin == 'true' %}
            <div id="action-button">
              <form method="POST" name="inscription" action="/coolracing/client/inscritEvent/{{ev.id_event}}">
                <button class="admin-detail-button btn btn-primary btn-lg btn-block">Voir les inscrits !</button>
              </form>
              <form method="POST" name="inscription" action="/coolracing/client/deleteEvent/{{ev.id_event}}">
                <button class="admin-detail-button btn btn-primary btn-lg btn-block">Supprimer l'event !</button>
              </form>
            </div>
          {% else %}
            <div id="action-button-client">
              <form method="POST" name="inscription" action="/coolracing/client/inscriptionEvent/{{ev.id_event}}">
                <button class="client-detail-button btn btn-primary btn-lg">S'inscrire !</button>
              </form>
              <form method="POST" name="inscription" action="/coolracing/client/dossard/{{ev.id_event}}">
                <button class="client-detail-button btn btn-primary btn-lg">Générér son dossard !</button>
              </form>
              <form method="POST" name="inscription" action="/coolracing/client/desinscriptionEvent/{{ev.id_event}}">
                <button class="client-detail-button btn btn-primary btn-lg">Se désinscrire !</button>
              </form>
            </div>
          {% endif %}
        </div>
      </div>

    </div>
</div>
  <!-- /.row -->

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; CoolRacing 2016</p>
      </div>
    </div>
  </footer>

    {% include "script.twig" %}
  </body>
  </html>
