<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Rimet">

  <title>CoolRacing</title>

  <!-- Bootstrap Core CSS -->
  <link href="/coolracing/client/public/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/coolracing/client/public/css/custom.css" rel="stylesheet">


</head>
