<!DOCTYPE html>
<html>
{% include 'head.twig' %}
<body>
  {{include('navigation.twig')}}
  <div class="container hero-spacer">

    <div class="jumbotron">
      <h3>Vous souhaitez créer des événements ? Alors inscrivez vous ! Vous êtes juste un participants ? Alors vous pouvez passer cette étape !<h3>

    </div>

    <div id="block_login">
      <form class="form-signin" method="POST">
        <!-- connexion a partir de l'adresse mail et du mot de passe -->
        {% if etat == 'exist' %}
        <p class="alert alert-danger">
          <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>Déjà un compte pour ces informations
        </p>
        {% endif %}
        <h2 class="form-signin-heading">Inscrivez vous !</h2>
        <input class="form-control" id="mail" name="mail" type="email" placeholder="Email">
        <input class="form-control" id="nom" name="nom" type="text" placeholder="Nom">
        <input class="form-control" id="prenom" name="prenom" type="text" placeholder="prenom">
        <input class="form-control" id="pwd" name="pwd" type="password" placeholder="Mdp" />
        <INPUT class="btn btn-lg btn-primary btn-block" TYPE="submit" VALUE="Inscription">
        </form>
      </div>
    </div>

  </div>
  <!-- /.row -->

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; CoolRacing 2016</p>
      </div>
    </div>
  </footer>
 {% include "script.twig" %}
  </body>
  </html>
