<!DOCTYPE html>
<html>
{% include 'head.twig' %}
<body>
  {{include('navigation.twig')}}
  <div class="container ">
    <div class="row">
      {% if inscriptionReussi == "true" %}
      <h3 class="petit-titre-page">{% if participedeja == "true" %} Vous êtes déjà inscrit {% else %} Vous avez bien été inscrit {% endif %} à l'événement {{event.intitule}}</h3>
      <p>Votre dossard : </p>
    <div style="text-align:center">
      <canvas id="bcTarget"></canvas>
    </div>
      <a id="download" download="barcode.png">Télécharger dossard</a>

      {% else %}
      {% if plein == "true" %}
      <h4>Désolé l'évent est plein !</h4>
      {% else %}
      <div id="1time">
        {% if nonecompte == "true" %}
        <p><strong>Aucun compte avec ces identifiants n'a été trouvé</strong></p>
        {% endif %}
        <h4 class="petit-titre-page">Première fois que vous participez à un événement ? Veuillez remplir ce formulaire pour vous inscrire à l'événement </h4>
        <div class="row centrer">
          <form method="POST">
            <input class="form-control" type="text" name="nom" placeholder="nom">
            <input class="form-control" type="text" name="prenom" placeholder="prenom">
            <input class="form-control" type="mail" name="mail" placeholder="mail">
            <input class="form-control" type="password" name="password" placeholder="password">
            <input class="form-control inscrip-btn" type="submit" value="S'inscrire" name="form1">
          </form>
        </div>
        {% if existcompte == "true" %}
        <div class="row">
        <p><strong>Ces informations sont déjà utilisé pour un autre compte</strong></p>
        {% endif %}
        <div class="row centrer-selector">
          <a id="selector1">Vous avez déjà participé à un événement ? Cliquez ici !</a>
        </div>
      </div>
      <div id="2time" style="display:none">
        <h4 class="petit-titre-page">Vous avez déjà participé à un event ? Il suffit de rentrer vos identifiants ! </h4>
      <div class="row centrer">
        <form method="POST">
          <input class="form-control" type="mail" name="mail" placeholder="mail">
          <input class="form-control" type="password" name="password" placeholder="password">
          <input class="form-control inscrip-btn" type="submit" value="S'inscrire" name="form2">
        </form>
      </div>
        <div class="row centrer-selector">
          <a id="selector2">Vous êtes nouveau ? Cliquez ici !</a>
        </div>
      </div>
      {% endif %}
      {% endif %}

    </div>

    {% include "script.twig" %}
    <script src="/coolracing/client/public/js/jquery-barcode.min.js"></script>
    <script>
    $("#selector1").click(function() {
      $( "#1time" ).hide();
      $( "#2time" ).toggle();
    });
    $("#selector2").click(function() {
      $( "#2time" ).hide();
      $( "#1time" ).toggle();
    });
    var a = "1234567890129";
    $("#bcTarget").barcode("{{event.id_event}}{{participant.id_participant}}", "int25",{barWidth:8, barHeight:100,output:"canvas"});

    function download() {
      var dt = canvas.toDataURL();
      this.href = dt;
    }

    var canvas = document.getElementById('bcTarget');
    document.getElementById('download').addEventListener('click', download, false);
    </script>

  </body>
  </html>
