

<!DOCTYPE html>
<html>
{% include 'head.twig' %}
<body>
  {{include('navigation.twig')}}
  <div class="container hero-spacer">
    <h2 id="title">Liste des participants</h2>
    <p><strong>Nombre de participant : {{nb}}</strong></p>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
      </tr>
      </thead>
<tbody>
  {% for participant in participant %}
    <tr>
      <td>{{ loop.index }}</td>
    <td>{{participant.participant.nom}}</td>
    <td>{{participant.participant.prenom}}</td>
      <td>{{participant.participant.email}}</td>
      </tr>
  {% endfor %}
      </tbody>

      </table>







  </div>

  <!-- /.row -->

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; CoolRacing 2016</p>
      </div>
    </div>
  </footer>
  {% include "script.twig" %}
</body>
</html>
