<!DOCTYPE html>
<html>
{% include 'head.twig' %}
<body>
  {{include('navigation.twig')}}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- message de bienvenue si la connexion est correcte -->
        <h1 id="bienvenue">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Bienvenue {{session.prenom_organisateur}}
        </h1>
      </div>
    </div>
    <div id="logco">
      <div class="col-sm-6">
        <a href="/coolracing/client/creer" class="admin-button btn btn-primary btn-lg btn-block">Créer événement</a>
      </div>
      <div class="col-sm-6">
        <a href="/coolracing/client/eventPerso/{{session.id_organisateur}}" class="admin-button btn btn-primary btn-lg btn-block">Voir ses événements</a>
      </div>
    </div>
  </div>



  </div>
  <!-- /.row -->

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; CoolRacing 2016</p>
      </div>
    </div>
  </footer>
 {% include "script.twig" %}
</body>
</html>
