<!DOCTYPE html>
<html>
{% include 'head.twig' %}
<body>
  {{include('navigation.twig')}}
  <div class="container hero-spacer">

      <div class="jumbotron">
        <h3>Vous souhaitez créer des événements ? Alors inscrivez vous ! Vous êtes juste un participants ? Alors vous pouvez passer cette étape !<h3>

      </div>

    <div id="block_login">
      <form class="form-signin" method="POST">
        <!-- connexion a partir de l'adresse mail et du mot de passe -->
        {% if etat == 'pasco' %}
        <p class="alert alert-danger">
          <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>Mauvaise données de connexion</p>
        {% endif %}
        {% if etat == 'ok' %}
        <p class="alert alert-success">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Inscription réussi ! </p>
        {% endif %}
        <h2 class="form-signin-heading">Identifiez vous !</h2>
        <label for="mail" class="sr-only">Adresse email</label>
        <input class="form-control" id="mail" name="mail" type="email" placeholder="Email" required autofocus>
        <label class="sr-only" for="pwd">Mot de passe</label>
        <input  class="form-control" id="pwd" name="pwd" type="password" placeholder="Mdp" required/>
        <INPUT class="btn btn-lg btn-primary btn-block" id="connexion" TYPE="submit" VALUE="Connexion">
        <a id="no-account" href="/coolracing/client/inscription">Pas encore de compte ? C'est par ici !</a>
        </form>
      </div>

    </div>


  </div>
  <!-- /.row -->

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; CoolRacing 2016</p>
      </div>
    </div>
  </footer>

 {% include "script.twig" %}
  </body>
  </html>

