<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="nav">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/coolracing/client/">CoolRacing</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


            {% if session.id_organisateur != null %}
            <ul class="menu-admin nav navbar-nav">
                <li>
                    <a href="/coolracing/client/liste" aria-label="Left Align">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        Liste événements
                    </a>
                </li>
                <li>
                    <a href="/coolracing/client/recherche">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        Recherche événement
                    </a>
                </li>
                <li><a href="/coolracing/client/creer">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        Créer évenement
                    </a>
                </li>
                <li><a href="/coolracing/client/eventPerso/{{session.id_organisateur}}">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        Voir ses événements
                    </a>
                </li>
                <li><a href="/coolracing/client/deco">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        Déconnexion
                    </a>
                </li>
            </ul>
            {% else %}
            <ul class="menu-public nav navbar-nav">
                <li>
                    <a href="/coolracing/client/liste" aria-label="Left Align">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        Liste événements
                    </a>
                </li>
                <li>
                    <a href="/coolracing/client/recherche">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        Recherche événement
                    </a>
                </li>
                <li><a href="/coolracing/client/login">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        Login/Inscription
                    </a>
                </li>
            </ul>
            {% endif %}

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
