<!DOCTYPE html>
<html>
{% include 'head.twig' %}
<body>
{% include "navigation.twig" %}
<div class="container hero-spacer">
  <div class="row">


    <div class="container-recherche">
      <h3>Rechercher un événement</h3>

      <div class="mobile-form">
        <form id="form-get-resultat" class="form-horizontal" role="form" method="post">

          <div id="mot-cle">
            <label>Mot-clé :</label>
            <input type="text" class="form-control" name="motcle" id="motcle" placeholder="mot clé">
          </div>

          <div id="sport">
            <label>Sport : </label>
            <select class="form-control" id="typeSport" name="sport">
              <option selected value="0">Indifférent</option>
              {% for item in selectCategorie %}
              <option value="{{ item.id_categorie }}">{{ item.titre }}</option>
              {% endfor %}
            </select>
          </div>

          <div id="niveau">
            <label>Niveau : </label>
            <select class="form-control" id="typeNiveau" name="niveau">
              <option selected value="0">Indifférent</option>
              {% for item in selectNiveau %}
              <option value="{{ item.nom }}">{{ item.nom }}</option>
              {% endfor %}
            </select>
          </div>
          <div id="ville">
            <label>Ville :</label>
            <input type="text" class="form-control" name="ville" id="ville" placeholder="Ville (optionnel)">
          </div>

          <div id="prix">
            <label>prix : </label>

            <div id="radio">
              <label class="radio-inline">
                <input type="radio" name="prix" id="indif" value="Indifférent" checked> Indifférent
              </label>
              <label class="radio-inline">
                <input type="radio" name="prix" id="gratuit" value="Gratuit"> Gratuit
              </label>
              <label class="radio-inline">
                <input type="radio" name="prix" id="payant" value="Payant"> Payant
              </label>
            </div>
          </div>

          <div id="nb-max">
            <label>Nombre de participants maximales : </label>
            <input type="number" class="form-control" name="max-participant" id="maxParticipant" placeholder="Nombre maximum de participants">
          </div>

        <div class="row centrer-selector">
          <input class="btn btn-lg rech-btn" type="submit" name="submit" value="Rechercher" />
        </div>

        </form>
      </div>

      <div id="resultats">
        {% if resultat | length == 0 %}
        <h3>Aucune correspondance n'a été trouvée</h3>
        {% else %}
        <h3>Resultat(s) de la recherche : {{ resultat | length }}</h3>


        {% for ev in resultat %}
        <div class="col-md-4 col-sm-6 col-xs-12 hero-feature">
          <div class="thumbnail" style="text-align:center">
            <img src="{{ev.photo}}" alt="">
            <div class="caption">
              <h3>{{ev.intitule}}</h3>
              <p>{{ev.categorie.titre}}</p>
              <p>{{ev.ville.code_postal}} {{ ev.ville.ville}}</p>

              <p>
                <a href="/coolracing/client/event/{{ev.id_event}}" class="btn btn-primary">Plus d'info !</a>
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
    <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; CoolRacing 2016</p>
      </div>
    </div>
  </footer>
</div>
{% include "script.twig" %}
</body>
</html>
