body {
  padding-top: 70px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */ }

#nav {
  background-color: #2da5da;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
  #nav a {
    color: white; }
  #nav li {
    border-right: solid 1px rgba(0, 0, 0, 0.1); }
  #nav .navbar-brand {
    border-right: solid 1px rgba(0, 0, 0, 0.1);
    border-left: solid 1px rgba(0, 0, 0, 0.1); }
  #nav a:hover {
    background: rgba(255, 255, 255, 0.9);
    color: #666; }

footer {
  text-align: center; }

#logco {
  margin-top: 50px;
  text-align: center; }

.hero-spacer {
  margin-top: 50px; }

.hero-feature {
  margin-bottom: 30px; }

.form-module {
  position: relative;
  background: white;
  max-width: 450px;
  width: 100%;
  border-top: 5px solid #33b5e5;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto; }
  .form-module .toggle {
    cursor: pointer;
    position: absolute;
    top: -0;
    right: -0;
    background: #33b5e5;
    width: 30px;
    height: 30px;
    margin: -5px 0 0;
    color: white;
    font-size: 12px;
    line-height: 30px;
    text-align: center; }
    .form-module .toggle .tooltip {
      position: absolute;
      top: 5px;
      right: -65px;
      display: block;
      background: rgba(0, 0, 0, 0.6);
      width: auto;
      padding: 5px;
      font-size: 10px;
      line-height: 1;
      text-transform: uppercase; }
      .form-module .toggle .tooltip:before {
        content: '';
        position: absolute;
        top: 5px;
        left: -5px;
        display: block;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid rgba(0, 0, 0, 0.6); }
  .form-module .form {
    display: none;
    padding: 40px; }
    .form-module .form:nth-child(2) {
      display: block; }
  .form-module h2 {
    margin: 0 0 20px;
    color: #33b5e5;
    font-size: 18px;
    font-weight: 400;
    line-height: 1; }
  .form-module input, .form-module select {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-wieght: 400; }
    .form-module input:focus, .form-module select:focus {
      border: 1px solid #33b5e5;
      color: #333333; }
  .form-module button {
    cursor: pointer;
    background: #33b5e5;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    color: white; }
    .form-module button:hover {
      background: #178ab4; }
  .form-module .cta {
    background: #f2f2f2;
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
    color: #666666;
    font-size: 12px;
    text-align: center; }
    .form-module .cta a {
      color: #333333;
      text-decoration: none; }

#checkbox {
  width: auto;
  display: inline-block;
  padding: 5px 20px; }

footer {
  margin: 50px 0 0 0; }

.thumbnail img {
  max-height: 190px; }

.form-signin {
  max-width: 330px;
  padding: 18px;
  margin: 0 auto;
  border: 1px solid lightgray;
  -moz-box-shadow: 1px 1px 10px 0px #656565;
  -webkit-box-shadow: 1px 1px 10px 0px #656565;
  -o-box-shadow: 1px 1px 10px 0px #656565;
  box-shadow: 1px 1px 10px 0px #656565; }
  .form-signin p span {
    margin-right: 4%; }

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px; }

.form-signin .checkbox {
  font-weight: normal; }

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px; }

.form-signin .form-control:focus {
  z-index: 2; }

.form-signin input[type="email"], .form-signin input[type="text"] {
  margin-bottom: 14px;
  margin-top: 14px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-signin input[type="password"] {
  margin-bottom: 18px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.admin-button {
  margin-bottom: 14px; }

#bienvenue {
  text-align: center; }

.admin-detail-button {
  margin-bottom: 14px;
  width: 50%;
  margin-right: auto;
  margin-left: auto; }

#title {
  margin-bottom: 40px;
  text-align: center; }


.petit-titre-page {
  text-align: center;
  margin: 2%;
}

#action-button-client form {
  display: inline-block;
}

#action-button-client {
  text-align: center;
  margin-left: -2.5%;
}

.client-detail-button {
  margin-top: 10px;
}

@media screen and (min-width: 1200px) {
  .centrer {
    margin-right: 30%;
    margin-left: 30%;
  }
}

@media screen and (max-width: 1200px) {
  .centrer {
    margin-right: 0%;
    margin-left: 0%;
  }
}

.centrer-selector {
  margin-right: 0%;
  margin-left: 0%;
  text-align: center;
}

.inscrip-btn {
  background-color: #337ab7;
  color: white;
}
.inscrip-btn:hover {
  background-color: #BBDEFB;
  color: #337ab7;
}

.rech-btn {
  margin-top: 2%;
  background-color: #337ab7;
  color: white;
}
.rech-btn:hover {
  background-color: #BBDEFB;
  color: #337ab7;
}

.doss-btn {
  text-align: center;
  margin-top: 2%;
  background-color: #337ab7;
  color: white;
}
.doss-btn:hover {
  background-color: #BBDEFB;
  color: #337ab7;
}

.dossard {
  text-align: center;
  padding-top: 3%;
  border: 1px solid black;
}

/*# sourceMappingURL=custom.css.map */
